/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28 févr. 2020, 13:39:52
    Author     : andiren.roupie
*/

.flex-column>.carousel {
    width: 100%;
}

.flex-column .carousel .carousel-inner .carousel-item .pictSize{
    height: 25vw;
}

.col
{
    max-width: 34%;
    align-items: center;
        flex: 1 0 33vw;
}

p {
    margin-top: 1rem;
}

.midPict{
    width: 100%;
    height: 25vw;
}

.midPict:hover{
    opacity: 0.7;
}