/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28 févr. 2020, 13:39:52
    Author     : andiren.roupie
*/

.flex-column>.carousel {
    width: 28vw;
}

.flex-column .carousel .carousel-inner .carousel-item .pictSize{
    height: 300px;
}