/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19 mars 2020, 11:05:57
    Author     : paul-emile.neu
*/
*{
    margin: 0;
    padding: 0;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0,0,0,0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.bgColor{
    background: #1560BD;
}

.pictSize{
    width: 100%;
    height: 92vh;
    object-fit: cover;
}

.midPict{
    width: 28vw;
    height: 300px;;
}

.size{
    width: 100%;
    max-width:  30vw;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 5vh!important;
    margin-bottom: 5vh!important;
}

.center{
   margin: auto;
}



.scroll{
    scroll-behavior: smooth;
}

.boxContainer{
     position: relative;
}

.imgBoat{
    width : 100%;
    height: 100vh;
    margin-left: 0;
}

/*.whiteBox{
    background-color: #ffffff;
    border: solid #000;
    width : 25vw;
    height: 50vh;
    
}*/

.top-left {
  position: absolute;
  top : 100px;
  left : 250px;
}

.textBox{
    width : 300px;
    height: 400px;
}



.social{
    padding: 0;
}

h4{
    padding: 15px 0px;
}

.social li{
    display: inline-block;
    background-color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    padding: 0cm;
}

.social li a i{
    padding-top : 4px;
    color: #333;
    transition: .3s;
    font-size: 25px;
}
.social li a i:hover{
    color : rgb(30,118,226);
    text-decoration: none;
}

.col
{
    max-width: 34%;
}