/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19 mars 2020, 11:05:57
    Author     : paul-emile.neu
*/
*{
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    display: none;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(0,0,0,0);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.pictSize{
    width: 100%;
    height: 92vh;
    object-fit: cover;
}

.cubeForm 
{
    max-width: 25vw;
    max-height: 25vw;
}

.blank5{
    height: 5vh;
    width:100%;
}
.cubeForm img
{
    max-width: 500px;
    max-height: 500px;
}




img:before {  
    content: " ";
    display: block;
    width: 100%;
    height: 92vh;
    background-color: rgb(230, 230, 230);
    border: 2px dotted rgb(200, 200, 200);
    border-radius: 5px;
}

img:after {  
    content: "\f127" " Image introuvable, description :" attr(alt);
    display: block;
    font-size: 16px;
    font-style: normal;
    font-family: FontAwesome;
    color: rgb(100, 100, 100);

    position: absolute;
    top: 5px;
    left: 0;
    width: 100%;
    height: 92vh;
    text-align: center;


}
.cubeForm img
{
    max-width: 25vw;
    max-height: 25vw;

}