/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3 juin 2020, 09:43:14
    Author     : andiren.roupie
*/

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    height: 100vh!important;
}

.card {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    min-height: 50vh;
    width: 50vw;
    position: relative;
    top: 25vh;
    left: 25vw;
}

.card-body {
    padding: 2rem;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (orientation: portrait) {
    .card-img-left {
        background: center / contain no-repeat;
        background-size: cover;
    }
}

@media only screen and (orientation: landscape) {
    .card-img-left {
        width: 45%;
        background: center / contain no-repeat;
        background-size: cover;
    }
}

.closer:hover {
    cursor: pointer;
}

.closer {

    height: 20px;
    position: absolute;
    right:0;
    margin: 5px;
}

