/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25 févr. 2020, 11:15:29
    Author     : andiren.roupie
*/

footer{
    position: absolute;
    color: #fff;
    width: 100%;
    background-color :#4682B4;
}

.col
{
    max-width: 34%;
    align-items: center;
}

.footer .link ul{
    list-style-type: none;
}

.footer .link li a{
    color: #fff;
    transition: color 0.2s;
    
}

.footer .link li a:hover{
    text-decoration: none;
    color: rgb(30,118,226);
}

.footer .localisation i{
    font-size: 18px;
    
}

.footer .copyright p{
    font-size: 1.3rem;
    text-shadow : 1px 1px black;
    border-top : 1px solid rgba(255,255,255,0.8);
}

.social li{
    display: inline-block;
    background-color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    padding: 0cm;
}

.social li a i{
    padding-top : 4px;
    color: #333;
    transition: .3s;
    font-size: 25px;
}
.social li a i:hover{
    color : rgb(30,118,226);
    text-decoration: none;
}

.social{
    padding: 0;
}

h4{
    padding: 15px 0px;
}