/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25 févr. 2020, 11:15:22
    Author     : andiren.roupie
*/

.nav-link {
    
    font-size: x-large;
    font-weight: bold;
}

nav {
    height: 8vh;
}