/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25 févr. 2020, 11:15:22
    Author     : andiren.roupie
*/

.nav-link {

    font-size: x-large;
    font-weight: bold;
}

nav {
    height: 8vh;
    z-index: 11;
}

.bgColor{
    background: #1560BD;
}

.volant
{
    position: absolute;
    z-index: 10;
    display: flex;
    flex-direction: row;
    right: 0;
    color:white;
    font-weight:normal;
    font-size:initial;
    background-color: rgba(0,0,0,0.5);
    padding: 10px;
    border-radius: 25px;
    margin: 10px;
}

.volant>a
{
    color:white;
    font-weight:normal;
    font-size:initial;
    padding: 0;
    text-shadow: 1px 1px black;
}

.volant>a:hover
{
    text-decoration: underline;
}