/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28 févr. 2020, 13:40:47
    Author     : andiren.roupie
*/

.size{
    width: 100%;
    max-width:  30vw;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 5vh!important;
    margin-bottom: 5vh!important;
}

.center{
   margin: auto;
}