/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31 mai 2020, 20:56:17
    Author     : paul-emile.neu
*/

*{
    margin : 0;
    padding : 0;
}

.textBoxVente{
    width: 60vw;
    margin: auto;
}

.boxSize{
    width : 70vw;
    height : auto;
}

@media only screen and (orientation: portrait) {
    .formBox{
        height: 40vw;
    }
}

@media only screen and (orientation: landscape) {
    .formBox{
        height: 25vw;
    }
}

.formBox{
    width : 20vw;
    overflow: auto;
    padding: 25px;
    background-color : #4682B4;
    margin-right: auto;
    margin-left: auto;
    position: sticky;
    left: 70vw;
    top: 30vh;
    display: flex;
    justify-content: center;
    margin-bottom: 20vh;
}



.form{
    height : 100%;
    width: 100%;

}

.input{
    margin: auto;
}

.label{
    width: 100%;
}

.button{
    width: 70%;
    background-color : #03224C;
}
